-- Transactional outbox for outbound email (and future LINE/internal channels).
-- Enqueue from SvelteKit server with service role; process via app worker or cron script.

create type public.notification_channel as enum ('email', 'line', 'internal');

create type public.notification_status as enum ('pending', 'processing', 'sent', 'failed');

create table if not exists public.notifications_outbox (
  id uuid primary key default gen_random_uuid(),
  channel public.notification_channel not null default 'email',
  status public.notification_status not null default 'pending',
  recipient text not null,
  subject text,
  body text not null,
  payload jsonb,
  domain text not null,
  correlation_id uuid,
  attempts smallint not null default 0,
  next_attempt_at timestamptz not null default now(),
  last_error text,
  created_at timestamptz not null default now(),
  processed_at timestamptz
);

comment on table public.notifications_outbox is 'Queue for outbound notifications; processed by SvelteKit server worker or cron script';

create unique index if not exists notifications_outbox_domain_correlation_uidx
  on public.notifications_outbox (domain, correlation_id)
  where correlation_id is not null;

create index if not exists notifications_outbox_pending_idx
  on public.notifications_outbox (status, next_attempt_at)
  where status in ('pending', 'processing');

alter table public.notifications_outbox enable row level security;

revoke all on table public.notifications_outbox from public;
revoke all on table public.notifications_outbox from anon, authenticated;
grant all on table public.notifications_outbox to service_role;
